<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Submit Page</h1>
        <form class="mt-4" action="/submit" method="POST">
            <div class="form-group">
                <label for="link_to_file">Link to File:</label>
                <input type="text" class="form-control" id="link_to_file" name="link_to_file" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

    </div>
</body>
</html>